.main-panel-empty {
    
    height       : 100vh;
    min-height   : 100%;
   
}

 .custom-file-input.selected:lang(en)::after {
     content: "" !important;
 }

 .custom-file {
     overflow: hidden;
 }

 .custom-file-input {
     white-space: nowrap;
 }